.addActivityForm {


  fieldset {
    display: block;
    border: none;

    margin-top: 15px;

    &:first-of-type {
      margin-top: 0;
    }

  }

  button {
    float: right;
    font-size: 1.5em;
    padding: 10px 15px;
    margin-right: 15px;
    background-color: transparent;
  }

}
