.topBar {
  display: flex;

  .name {
    text-transform: capitalize;
  }

  .title {
    flex-grow: 1;
    margin: 10px;
    align-self: center;
  }

  .addTraining {
    margin: 15px;
    justify-self: flex-end;
  }
}

