.table {

  border-collapse: collapse;
  margin: 0 10px;
  width: 96%;

  td {
    padding: 4px 0 2px 0;
  }

  .lastDateRow:last-of-type {
    border-bottom: none;
  }

  .lastDateRow {
    border-bottom: 1px solid grey;

    td {
      padding-bottom: 10px;
    }
  }

  .firstDateRow {

    td {
      padding-top: 10px;
    }
  }
}

.date {
  font-size: 1.2em;
}

.exercise {

  .type {

  }

  .distance {

  }

  .duration {

  }

  .feeling {

  }
}


