body {
    background-color: #111111;
    color: #FFFFFF;

    overflow: hidden; /* Scrollbar: no thanks*/
}

#main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#zzz {
    text-align: center;
}

#zzz #sleeper {
    font-size: 30vh;
    cursor: pointer;
}

#status {
    position: absolute;

    bottom: 0;
    width: 100%;
}

#status > * {
    position: absolute;
    bottom: 5px;
}

#status .lastUpdated {
    left: 10px;
    font-size: 20px;
}

#status .networkIndicator {
    right: 20px;
    font-size: 30px;
}

.departures {
    display: flex;
    flex-direction: row;

    font-size: 26px;
}

.departure {
    flex-grow: 1;
    text-align: center;
}

.departure .time {
    font-size: 3em;
}

.departure .line {
    display: block;
    font-size: 16px;
}

.direction-heading {
    font-size: 26px;
    text-align: center;
}