body {
    background-color: #111111;
    color: #FFFFFF;
}

#zzz {
    text-align: center;
}

#zzz #sleeper {
    padding-top: 200px;
    font-size: 150px;
}

.departures {
    display: flex;
    flex-direction: row;

    padding: 230px 10px 0 10px;
    font-size: 26px;
}

.departure {
    flex-grow: 1;
    text-align: center;
}

.departure .time {
    font-size: 3em;
}

.departure .line {
    display: block;
    font-size: 16px;
}