h2 { margin: 0; }

body {
    background-color: #111111;
    color: #FFFFFF;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

    overflow: hidden; /* Scrollbar: no thanks*/
}

a {
    text-decoration: none;
}

#main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navigation {
    position: absolute;
    top: 0;
    height: 30px;
}

#navigation .stop {
    display: inline-block;
    text-align: center;
    padding: 10px;

    color: #FFFFFF;
}

#navigation .stop .emoji {
    font-size: 30px;
    display: block;
    padding: 5px;
}

#reload {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    font-size: 50px;
    padding: 10px;
}

#zzz {
    text-align: center;
}

#zzz #sleeper {
    font-size: 30vh;
    cursor: pointer;
}

#status {
    position: absolute;

    bottom: 0;
    width: 100%;
}

#status > * {
    position: absolute;
    bottom: 0;
}

#status .lastUpdated {
    left: 0;

    padding: 10px;
    font-size: 20px;
}

#status .networkIndicator {
    right: 0;

    padding: 10px 20px;
    font-size: 30px;
}

#status .networkIndicator.error {
    font-size: 36px;
    background-color: #FF4136;
}

.departures {
    display: flex;
    flex-direction: row;

    font-size: 26px;
}

.departure {
    flex-grow: 1;
    text-align: center;
}

.departure .time {
    font-size: 3em;
}

.departure .line {
    display: block;
    font-size: 16px;
}

.direction + .direction {
    /* All `.direction`s with a preceeding `.direction` (i.e. all expect the first) */
    margin-top: 40px;
}

.direction-heading {
    font-size: 26px;
    text-align: center;
}

.direction .error {
    font-size: 16px;
    text-align: center;
}