[Unit]
Description=Banometer single page app
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/home/pi/banometer/frontend
ExecStart=/usr/bin/python3 -m http.server 80

[Install]
WantedBy=multi-user.target
