[Unit]
Description=Banometer web serrver
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/etc/systemd/user/banometer.env
ExecStart=/usr/bin/java -jar /home/pi/Desktop/banometer/build/libs/banometer.jar

[Install]
WantedBy=multi-user.target
