h2 { margin: 0; }

a {
    text-decoration: none;
}

body {
    background-color: #111111;
    color: #FFFFFF;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;

    height: 100vh;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#navigation {
    width: 100%;
    flex-grow: 1;
    align-self: flex-start;
}

#navigation .nav-item {
    display: inline-block;
    text-align: center;
    padding: 10px;

    color: #FFFFFF;
}

#navigation .nav-item .icon {
    font-size: 30px;
    display: block;
    padding: 5px;
    width: 100%;
}

#main {
    align-self: stretch;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 30px; /* Give some space to scroll past the last updated overlay */
}

#reload {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    font-size: 50px;
    padding: 10px;
}

#zzz #sleeper {
    font-size: 30vh;
    text-align: center;
    display: block;
}

#forecast {
    text-align: center;
}

#forecast .meteogram {
    width: 100%;
}

#cinema .screen {
    width: 45%;
    float: left;
    padding: 10px;
}

#cinema .time {
    margin-right: 10px;

}

#cinema .time:after {
    content: ':';
}

#cinema .title {
    margin-right: 5px;
}


#cinema .free-seats:before {
    content: '(';
}

#cinema .free-seats:after {
    content: ')';
}

#wine {
    padding-left: 15px;
}

.sync-wines {
    float: right;
    padding: 15px;
}

button {
    outline: none;
    background: none;
    border: 1px solid darkgray;
    padding: 10px;
    font-family: arial, sans-serif;
    color: #069;
    font-size: 16px;
    margin: 15px;
    text-decoration: underline;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

button:active {
    position:relative;
    top:1px;
}


ul.basic-list {
    -webkit-padding-start: 0;
    margin-left: 0;
    padding-left: 0;
}

.basic-list li {
    list-style: none;
    margin-left: 0;
}


#status {
    position: absolute;

    bottom: 0;
    width: 100%;
}

#status > * {
    position: absolute;
    bottom: 0;
}

#status .lastUpdated {
    left: 0;
    background-color: #111111;
    padding: 10px;
    font-size: 20px;
}

#status .networkIndicator {
    right: 0;

    padding: 10px 20px;
    font-size: 30px;
}

#status .networkIndicator.error {
    font-size: 36px;
    background-color: #FF4136;
}



.number-grid-row {
    display: flex;
    flex-direction: row;

    font-size: 26px;
}

.number-grid-entry {
    flex-grow: 1;
    text-align: center;
}

.number-grid .number-grid-number {
    font-size: 3em;
}

.number-grid .number-grid-detail {
    display: block;
    font-size: 16px;
}

.number-grid-row + .number-grid-row {
    /* All rows with a preceeding row (i.e. all except the first) */
    margin-top: 40px;
}

.number-grid-row-heading {
    font-size: 26px;
    text-align: center;
}

.number-grid-row .row-text {
    font-size: 16px;
    text-align: center;
}

#maintenance ul {
    list-style: none;
    font-size: 2em;
}
