.mainNavigation {

  padding: 3px 20px;
  background-color: white;

  ul {
    display: inline-block;
    list-style: none;
    margin-left: 0;
  }

  li {
    float: left;
    margin-right: 13px;
    text-align: center;
  }
}
