.forecast {
  .weather-symbol {
    height: 25px;
  }

  td {
    padding: 5px;
  }

  .heading-row {

    td {
      vertical-align: bottom;
    }

    .day-heading {
      font-size: 30px;
    }

  }



}
