.highlightedRadioButton {

  margin-right: 10px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-right: 0;
  }

  &.styleEmojiSelector {

    label {
      font-size: 45px;
      padding: 10px 10px;
      background-clip: padding-box;
      display: inline-block;
    }

  }


  &.styleText {

    label {
      font-size: 20px;
      padding: 15px;
      background-clip: padding-box;
      border: lightgrey solid 1px;
      display: inline-block;
    }

  }

  .radioButton {
    display: none;
  }

  input:checked + label {
    background-color: #aaaaaa;
    color: black;
  }

}

